<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ServerIp" value="127.0.0.1" />
        <add key="ServerPort" value="24864" />
        <add key="WebcamEnabled" value="false" />
        <add key="WebcamDeviceIndex" value="0" />
        <add key="WebcamMotionThreshold" value="20" />
        <add key="WebcamBottomDeadzonePercent" value="15" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>